<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="min-height: 800px; display:flex; align-items:center; justify-content: center; font-family: 'Arial';">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; background: aquamarine; border:5px solid aquamarine; border-radius: 10px;">
        <h1>Success</h1>
        <p style="font-size:15px;">Your account has been successfully verified.</p>
        <a style="text-decoration: none; color:floralwhite;" href="http://localhost:4200/auth"><button style="border: none;
    background: cadetblue;
    height: 43px;
    width: 400px;
    border-radius: 14px;
    margin-top: 10px;
    font-size: 15px;
color: floralwhite;
    cursor: pointer;">Login</button></a>
    </div>
</div>

</body>
</html>